body * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: Gainsboro;
  padding-left: 20px;
  padding-right: 20px;
}
header h1 {
  margin: 0;
  margin-top: 12px;
}
.siteName {
  display: inline-block;
}
.topNav {
  display: inline-block;
  float: right;
  margin-top: 12px;
  font-size: 2em;
}
a {
  text-decoration: none;
}
.topNav a {
  color: purple;
  text-decoration: none;
  margin-right: 12px;
}

main {
  padding: 90px
}

.search {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

input {
  width: 50%;
  height: 40px;
  font-size: 25px;
  border-radius: 3px;
}

img {
  height: 40px;
  margin-left: 15px;
  vertical-align: bottom;
  border: 1px solid grey;
  border-radius: 3px;
}
.navigation {
  margin-top:30px;
  border: 1px solid grey;
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 3px;
}

.button {
  font-size: 20px;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
  color: black;
}

.navSpan {
  font-size: 20px;
  border-left:1px solid grey;
  border-right: 1px solid grey;
  padding: 8px 25px;
}

.results {
  font-size: 20px;
  margin-top: 30px;
}

.date {
  color: grey;
}

.position {
  padding: 8px 25px;
  color: blue;
}

.location {
  color: grey;
}

.result {
  margin-bottom: 15px;
}
